<upperbar class="background-image-bar" [centerText]=upperbarCenterText></upperbar>
<ion-content class="background-image-in-app" padding>
  <div class="profile-container">
    <div class="profile-content">
      <div class="profile-cc">
        <div class="profile-cc-top">
          지원
        </div>
        <div class="profile-cc-text" (click)="openContact()">
          문의하기
        </div>
        <div class="profile-cc-text" (click)="openPrivacyPolicy()">
          개인정보 보호정책
        </div>
        <div class="profile-cc-text" (click)="openTerms()">
          이용약관
        </div>
        <div class="profile-cc-text" (click)="downLoadBamletter()">
          밤편지 다운받기
        </div>
      </div>
      <div class="profile-cc">
        <div class="profile-cc-top">
          개인
        </div>
        <div class="profile-cc-text" *ngIf="isAuthUser()" (click)="logOut()">
          로그인 정보: hyunt0413@gmail.com
          <div class="profile-warn-text">
            로그아웃
          </div>
        </div>
        <div class="profile-cc-text profile-login-text" *ngIf="!isAuthUser()" (click)="login()">
          현재 백업된 독후감 갯수: {{backUpCount}}
          <div>
            <br>* 로그인을 하면 백업이 가능합니다.
            <br>** 로그인 및 회원가입 하기 **
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<underbar class="background-image-bar" [nowView]=nowView></underbar>