page-profile {

}

.profile-cc {
  margin-top: 1em;
}

.profile-cc-top {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: .5em;
  border-bottom: 1px solid black;
}

.profile-cc-text {
  font-size: 1.2em;
  margin-bottom: .5em;
}

.profile-login-text {
  color: #488aff;
}

.profile-warn-text {
  color: #ff1720;
}
