page-add-book {

}

.addbook-top {
  position: absolute;
  width: 100%;
  top: 5em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.addbook-container {
  margin-top: 8.5em;
  padding-bottom: 7em;
}

.addbook-explicate-container {
  background-color: white;
  z-index: 100;
  width: 100%;
  text-align: right;
  position: fixed;
  padding-bottom: 2em;
  right: .5em;
  bottom: 0em;
}
