underbar {
  position: fixed;
  bottom: 0;
  height: 4em;
  width: 100%;
  z-index: 100;
  background-color: #f4eee1;
  border-top: 1px solid #222222;
}

.underbar-container {
  position: relative;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.underbar-c-content {
  position: relative;
  width: 33%;
  height: 100%;
  display: inline-block;
  vertical-align: top;

}

.underbar-cc-image {
  height: 55%;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  img {
    height: 100%;
    padding: 10%;
  }
}
